@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #fff;
}

html::-webkit-scrollbar-thumb {
  background: #bcbf69;
  border-radius: 5rem;
}

body {
  background: #fff;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #bcbf69;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #111;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #bcbf69;
  border: 0.2rem solid #bcbf69;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.btn:hover {
  background: #bcbf69;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 9%;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.header .navbar a {
  font-size: 1.7rem;
  color: #111;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #bcbf69;
}

.header .btn {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #111;
  font-weight: bolder;
}

.logo i {
  color: #bcbf69;
  padding-right: 0.5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #111;
  cursor: pointer;
  display: none;
}
